.reviews {
    padding-bottom: 71px;
    &__item {
        display: flex;
        margin-top: 50px;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__descr {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__name {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__marafon {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #646464;
        margin-top: 10px;
        
    }
    &__text {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
}